body{
    padding: 0;
    margin: 0;
    background-color: #191970;
}
.container{
    width: 80% ;
    margin: 0 auto;
}
.header{
    color: #DAA520;
    border-bottom: 3px solid #483D8B;
}
.header  .container{
    display: flex;
    justify-content: space-between;
}
.selecionado{
    font-weight: bold;
}
.navbar{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.navbar{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.header a {
    text-decoration: none;
    color: #DAA520;
}
.banner {
    color:white;
    height: auto;
    background-image: url(./assets1/imagens/incrementumhome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .container{
    height: 500px;
    display: flex;
    align-items: center;
}
.banner p{
    width: 70%;
    margin: 0;
    padding: 0px;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
